/*Universal styling*/

body {
    margin: 0;
    padding: 0;
}

/*Header*/

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
}

.logo {
    display: flex;
    flex-grow: 1;
    padding-left: 20px;
}

.logo span {
    display: flex;
    align-items: center;
    padding: 10px;
    color: mediumaquamarine;
}

nav span a {
    display: inline-block;
    color: black;
}

/*Container*/

.container {
    display: flex;
}

.column-large {
    display: flex;
    flex-direction: column;
}

.column-medium {
    display: flex;
    flex-direction: column;
}

.column-small {
    display: flex;
    flex-direction: column;
}
