/*Universal styling*/

body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
    font-size: 17px;
    color: black;
}

h2 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

h1 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: black;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

/*Header*/

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
}

.logo {
    display: flex;
    flex-grow: 1;
    padding-left: 20px;
}

.logo span {
    display: flex;
    align-items: center;
    padding: 10px;
    color: mediumaquamarine;
}

nav span a {
    display: inline-block;
    color: black;
}

/*Container*/

.container {
    display: flex;
    margin: 20px;
}

.column-large {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 630px;
    margin: 10px;
}

.column-medium {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
}

.column-small {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin: 10px;
}

.main-pic {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
    height: 300px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.earth-pic {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
    height: 300px;
}

.camera-pic {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
    height: 300px;
}

.cat-pic {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
    height: 300px;
}

.sub-story {
    width: 299px;
    height: 700px;
}

.left {
    margin-right: 10px;
}

.right {
    margin-left: 10px;
}

.menu {
    background-color: whitesmoke;
    font-family: Verdana;
    font-size: 12px;
    color: dimgray;
}

.menu p {
    border-bottom: 1px solid black;
}

/*Footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: mediumaquamarine;
    font-family: Verdana;
    font-size: 12px;
}

.foot-logo {
    display: inline-block;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 20px;
}

